.selection {
    width: 80px;
    height: 80px;
    margin: 10px;
    transition: background-color 0.3s;
    border-radius: 100%;
    border: none;
    position: relative;
    background-color: #070F1C;
    color:white;
    border: 2px solid transparent;
    border-color: #142b50;
}

.selection:hover {
    background-color: #458DD7
}
.selection.active{
    background-color: #458DD7;
}
